# Configuración de Flask (Llave compartida solo para desarrollo local)
FLASK_SECRET_KEY=llave_desarrollo_equipo_ingeniosnack

# Credenciales de Google OAuth (¡Pedir a líder por interno o crear las suyas!) UWU
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=