<link rel="stylesheet" href="{{ url_for('static', filename='css/ticket.css') }}">


<!-- templates/exito.html -->
<div id="toast" class="toast">¡Copiado exitoso!</div>

    <div class="container">
        <div class="card">
            <div class="main">
                <div class="co-img">
                    <h1>Ingenio<br>Snack 🥪</h1>
                </div>

                <div class="vertical"></div>

                <div class="content">
                    <h2>Ticket de Compra</h2>  
                    <h2>{{session.get('estudiante_nombre', 'Estudiante')}}</h2> 
                    <p id="fecha-ticket">
                        <p>Fecha: {{ pedido.fecha.strftime('%d/%m/%Y') }}</p>
                        <p>Hora: {{ pedido.fecha.strftime('%H:%M') }}</p>
                    </p>

                </div>
            </div>
        
        <div class="producto-lista">
            {% for producto in pedido.detalle_productos.split(' + ') %}
            <h2>{{ loop.index }} <span>{{ producto }}</span></h2>
            {% endfor %} 
            
            <h2 style="font-size: 17px; margin-top: 10px; border-top: 1px solid #ccc; padding-top: 5px;">
                <h2 style="font-size: 13px;"><span>Delivery</span> <span>S/. 5.00</span></h2>
                <h2 style="font-weight: 700;"><span>Subtotal</span>S/. {{ "%.2f"|format(subtotal) }}</h2>
                
                <h2 style="font-size: 17px; margin-top: 10px; border-top: 1px solid #ccc; padding-top: 5px;">
                <span>Total</span> <span>S/ {{ "%.2f"|format(total) }}</span>
            </h2>
            </h2>
        </div>
        
        <div class="copy-button">
            <input id="copyvalue" type="text" readonly value="{{ pedido.ticket }}" />
            <button onclick="copyIt()" class="copybtn">Copiar</button>
        </div>
        </div>

        <button class="btn-return" onclick="window.history.back()">Hacer otro pedido</button>

        <script>
            // Función para copiar el código al portapapeles y mostrar la notificación
            function copyIt() {
                const copyText = document.getElementById("copyvalue");
                copyText.select();
                copyText.setSelectionRange(0, 99999); // Para dispositivos móviles
                
                navigator.clipboard.writeText(copyText.value)
                    .then(() => {
                        // Seleccionamos el elemento toast
                        const toast = document.getElementById("toast");
                        
                        // Le añadimos la clase 'show' para que aparezca
                        toast.classList.add("show");
                        
                        // Lo ocultamos automáticamente después de 2.5 segundos
                        setTimeout(function() {
                            toast.classList.remove("show");
                        }, 2500);
                    })
                    .catch(err => {
                        console.error('Error al copiar: ', err);
                    });
            }
        </script>

    </div>